.registertable{
    background-color: rgb(131, 103, 255,0.5);
    margin-left: 35%;
    width: 30vw;
    margin-top: 18vh;
    border-radius: 10%;
}
.register{
    padding-left: 10%;
}
.registrationSwitchin{
    margin: 3% 0 0 40%;
}
.tablehead{
    padding: 5% 0 0 35%;
}


