body {
    background-image: url('download.jpg');
    background-size: cover;
    color: white;
}

.second {
    background-color: rgba(131, 103, 255, 0.5);
    margin-left: 35%;
    width: 30vw;
    margin-top: 20vh;
    border-radius: 10%;
}

.data1 {
    padding-left: 5%;
    padding-bottom: 2%;
}

.registrationSwitchin {
    margin: 3% 0 0 40%;
}

.data2 {
    padding-left: 7vw;

}

.tablehead {
    padding: 5% 0 0 35%;
}
i:hover{
    cursor: pointer;
}