.passuser {
    background-color: rgba(131, 103, 255, 0.5);
    margin-left: 35%;
    width: 23vw;
    margin-top: 30vh;
    border-radius: 5%;
}
.headpassuser{
    padding: 3% 0 0 30%;
}
.rowpassuser{
    padding-left: 3% ;
    padding-top: 3%;
}
.buttonpassuser{
    padding: 3% 0 3% 40%;
}
.passuserpassword{
    background-color: rgba(131, 103, 255, 0.5);
    margin-left: 35%;
    width: 26vw;
    margin-top: 3vh;
    border-radius: 5%;
}
