.profilephotoinput {
    margin-top: 5%;
    margin-left: 35%;
}

.profileimage {
    margin-top: 30%;
    width: 130px;
    height: 130px;
    border-radius: 40px;
    margin-top: -50px;
    border: 4px solid #fff;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.961);
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile{
    margin-top: 20%;
}